@import "tailwindcss";

@import "@fontsource/playfair-display/400.css";
@import "@fontsource/playfair-display/600.css";
@import "@fontsource/playfair-display/700.css";

@theme {
  --color-accent: #F5F5F0;
  --color-accent-dim: #C9C9C0;

  --color-surface: #0A0A0A;
  --color-surface-2: #161616;
  --color-surface-3: #212121;

  --color-border: #2E2E2E;

  --color-text: #F5F5F0;
  --color-text-dim: #9E9E96;
  --color-muted: #616158;
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-surface);
  color: var(--color-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-muted);
}
