@import "tailwindcss";

@theme {
  --color-accent: #F5F5F0;
  --color-accent-dim: #C9C9C0;

  --color-surface: #0B0B0A;
  --color-surface-2: #171716;
  --color-surface-3: #242422;

  --color-border: #34342F;

  --color-text: #F5F5F0;
  --color-text-dim: #A0A098;
  --color-muted: #8C8C80;
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-surface);
  color: var(--color-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-muted);
}
